<ion-header >
  <ion-toolbar color="primary">
      
        <ion-item color="primary">
          <ion-avatar slot="start">
            <img src="../../assets/img/perosna.png">
          </ion-avatar>
          <ion-label><strong>SALIDA</strong></ion-label>
          <ion-button (click)="logout()" class="ion-float-right">
            SALIR
          </ion-button>
        </ion-item>
     
  </ion-toolbar>
</ion-header>
<ion-content   mode="ios"  mode="md">
  <ion-card>
    <ion-card-content>
      <ion-row class="ion-justify-content-center">
      <!-- Armo grilla para alinear campos -->
        <ion-grid color= "light">
          <ion-row>
            <ion-col style="font-size: 18px;">
              <ion-item style="border-radius: 5px;">
                
                <ion-label style="color: gray;"><strong>FECHA</strong></ion-label>
                <ion-datetime Attribute="disable" value="{{ fecha }}" [monthShortNames]="monthShortNames" display-Format="DD MMM YYYY" readonly></ion-datetime>
              </ion-item>  
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col style="font-size: 18px;">
            <ion-item style="border-radius: 5px;">
             
              <ion-label style="color: gray;"><strong>HORA</strong> </ion-label>
              <ion-datetime Attribute="disable" value="{{ fecha }}" display-Format="HH:mm" readonly></ion-datetime>
            </ion-item> 
          </ion-col>
        </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-item>
       
            <ion-label style="color: gray;"><strong>LUGAR</strong></ion-label>
            <ion-select placeholder="Ubicación">
              <ion-select-option value="f">CEP 4</ion-select-option>
              <ion-select-option value="m">EFA 32</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
        <!-- <ion-row>
          <ion-col>Tareas realizadas*</ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col>
            <ion-item class="" style="margin-bottom: 1rem;  border: solid gray 1px; border-radius: 4px; ">
              <ion-textarea  placeholder="Resumen de la Actividad Realizada" style="color: gray;" type='text' maxlength="250" ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center">
          <ion-button float-right color="success" href="/salida" mode="ios"  mode="md" type= "submit">MARCAR SALIDA</ion-button>    
        </ion-col>
      </ion-row>
    
    </ion-card-content>
  </ion-card>
</ion-content>
