<ion-content color="primary">
  <ion-card style="background-color: white;">
    <ion-card-content> 
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12"> 
         
          <ion-img src="https://github.com/TeamDevRobotica/AsistenciaFrontEnd/blob/jeni/src/logo-color.png?raw=true"></ion-img>
        
        </ion-col>
    </ion-card-content>
    <form [formGroup]="loginForm">
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" formControlName="usuario"></ion-input>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="clave"></ion-input>
        </ion-item>
          <br>
        
      </ion-card-content>
    </form>
    <ion-button type="submit"  expand="block" href="/principal">Ingresar</ion-button>
  </ion-card>
</ion-content>
