<ion-header>
  <ion-toolbar color= "warning">
    <ion-title >Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

  <!-- Especifico plataformas con atributo mode -->

<ion-content color= "warning" mode="ios"  mode="md"> 
  <!-- Agregar un grid para alinear a justificado-->
<ion-grid>
  <ion-row>
    <!-- Default Input -->
    <ion-input></ion-input>
    <ion-card-content>

 <!-- Insertar el banner aqui -->
 <ion-img src="C:\Users\Jeni\asistencia\src\logo-color.png">

</ion-img>
    <ion-input value="PLANILLA DE ASISTENCIA DIGITAL" text-align:center></ion-input>

    <ion-list class="background-input">
    <ion-item>
<!-- Etiqueta usuario -->
<!-- <ion-input value="Usuario *"></ion-input> -->

<!-- Text Usuario -->
<ion-input placeholder="Usuario" ></ion-input>
  <br/>
  <br/>
<!-- Etiqueta contraseña -->
<!-- <ion-input value="Contraseña *"></ion-input> -->

<!-- Text contraseña -->
<ion-input placeholder="contraseña"></ion-input>
</ion-item>
</ion-list>
<!-- Botón -->
<!-- <ion-button color="danger">Ingresar</ion-button> -->

<a href="principal.page.html">Ingresar</a>

</ion-card-content>
</ion-row>
</ion-grid>
</ion-content>
