<ion-tabs >
  <ion-tab-bar slot="bottom" style="background-color: #ffc409">
    <ion-tab-button tab="principal" style="color: white ;background-color: #ffc409">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label >Entrada</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="salida" style="color: white;background-color: #ffc409">
      <ion-icon name="school"></ion-icon>
      <ion-label>Salida</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button> -->
    <!-- <ion-tab-button tab="creardesafio">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Crear Desafio</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>