<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="principal" color="primary">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label >Entrada</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="salida" color="primary">
      <ion-icon name="school"></ion-icon>
      <ion-label>Salida</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="salir" color="primary">
      <ion-icon name="exit-ouline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button> -->
    <!-- <ion-tab-button tab="creardesafio">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Crear Desafio</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>